body {
    background-color: light-grey;
}

/* title */
h1 {
    font-family: open sans;
    font-size: 1.5rem;
}

/* text along the lines */
.axis {
    font: 13px sans-serif;

}
/* the x and y line  */
.axis path, .axis line {
    fill: none;
    stroke: #939393;
    stroke-width: 3px;
}

/* graph result line */
.line {
    fill: none;
    stroke: #6F257F;
    stroke-width: 5px;
}


/* whole graph */
.overlay {
    fill: none;
	/* hover */
    pointer-events: all;

}

svg {
	background-color: #ececec;
	margin-left: 8rem;
	margin-top: 2rem;
	border: 2px solid ;
	border-radius: 4px;
}

/* hover circle */
.focus circle {
    fill: #F1F3F3;
    stroke: #6F257F;
    stroke-width: 2px;
}

/* hover line */
.hover-line {
    stroke: #6F257F;
    stroke-width: 2px;
	/* dotted line */
    stroke-dasharray: 3, 3;
}
